body{
    padding: 0;
    margin: 0;
}

header{
    background-color: rgb(0, 0, 0);
    position: relative;
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;
    font-family: Roboto, sans-serif;
}



.alcina{
    position: relative;
    display: flex;
    margin-left: 140px;
    color: white;
}

.logo{
    position: relative;
    display: flex;
    width: 100px;
    height: 100px;
    left: -820px;
}

.menu ul {
    list-style: none;
}

.menu li {
    display: inline;
    color: white;
    cursor: pointer;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
}

.menu {
    position: absolute;
    right: 40px;
    bottom: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.dropdown-menu{
    background-color: transparent;
    position: absolute;
    display: none;
    width: 123px;
    font-size: 17px;
    padding: 4px 10px;
    margin-left: 70px;
    margin-top: 3px;
    border-radius: 2px;
    line-height: 25px;
}

.dropdown-menu a{
    display: block;
    color: rgb(255, 255, 255);
}

.dropdown:hover .dropdown-menu{
    display: block;
}

nav li a:hover{
    background-color: rgb(133, 133, 133);
    border-radius: 2px;
}



.text01{
    color: red;
    font-size: 250px;
    position: relative;
    left: 50px;
    top: -100px;
    font-family: "Bebas Neue", sans-serif;
}

.text02{
    color: blue;
    font-size: 250px;
    position: relative;
    left: 700px;
    top: -350px;
    font-family: "Bebas Neue", sans-serif;
}

.text03{
    color: yellow;
    font-size: 250px;
    position: relative;
    left: 200px;
    top: -350px;
    font-family: "Bebas Neue", sans-serif;
    
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
    font-size: 20px;
	margin-top: -100px;
    font-family: 'Montserrat', sans-serif;
}

.rodape ul {
    list-style-type: none;
    padding: 0;
}

.rodape li {
    display: inline;
    margin: 0 10px; 
}

@media only screen and (max-width : 700px) {
    .alcina{
        font-size: 17px;
        white-space: nowrap;
        left: -130px;
    }

    .menu{
        position: absolute;
        right: -35px;
        bottom: 22px;
        
    }

    .menu li {
        display: inline;
        color: white;
        cursor: pointer;
        padding: 5px;
        text-decoration: none;
        font-size: 17px;
    }
    
    .logo{
        position: relative;
        display: flex;
        width: 70px;
        height: 70px;
        left: -190px;
    }

    footer {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
        width: 800px;
        font-size: 20px;
        margin-top: -1000px;
        font-family: 'Montserrat', sans-serif;
        margin-left: -120px;
    }

    .rodape ul {
        list-style-type: none;
        padding: 0;
        
    }

    .rodape li {
        display: inline;
        margin: 0 10px; 
    }
     }


@media only screen and (max-width : 500px) {
    .alcina{
        font-size: 17px;
        white-space: nowrap;
        left: -130px;
    }

    .menu{
        position: absolute;
        right: -35px;
        bottom: 22px;
        
    }

    .menu li {
        display: inline;
        color: white;
        cursor: pointer;
        padding: 5px;
        text-decoration: none;
        font-size: 17px;
    }
    
    .logo{
        position: relative;
        display: flex;
        width: 70px;
        height: 70px;
        left: -190px;
    }
     }


     @media only screen and (max-width : 470px) {
        .alcina{
            font-size: 17px;
            white-space: nowrap;
            left: 15px;
        }
    
        .menu{
            position: absolute;
            right: 115px;
            bottom: -10px;
            
        }
    
        .menu li {
            display: inline;
            color: white;
            cursor: pointer;
            padding: 5px;
            text-decoration: none;
            font-size: 17px;
        }
        
        .logo{
            position: relative;
            display: flex;
            width: 70px;
            height: 70px;
            left: -390px;
        }
         }